[submodule "third_party/eipl"]
	path = third_party/eipl
	url = https://github.com/ogata-lab/eipl
[submodule "third_party/act"]
	path = third_party/act
	url = https://github.com/mmurooka/act.git
[submodule "third_party/diffusion_policy"]
	path = third_party/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
