<?xml version="1.0" ?>
<robot name="chain_ring">
  <link name="torus">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/torus.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/torus.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
